<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Hello thymeleaf</title>
<script type="text/javascript">
	function test() {
		var newDIV = document.createElement("div");

		newDIV.setAttribute("id", "myDiv");
		newDIV.style.backgroundColor = "yellow";

		document.getElementById("rr").appendChild(newDIV);
	}
</script>





</head>




<body>
	<h1>Hello thymeleaf</h1>


	<table>
		<thead>
			<tr>
				<th>MNO</th>
				<th>NAME</th>
				<th>PW</th>
				<th>PHONE</th>
				<th>MESSAGE</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="blogVo : ${list}">
				<td th:text="${blogVo.mno}">MNO</td>
				<td th:text="${blogVo.name}">NAME</td>
				<td th:text="${blogVo.pw}">PW</td>
				<td th:text="${blogVo.phone}">PHONE</td>
				<td th:text="${blogVo.message}">MESSAGE</td>
				<td>


					<button th:onclick="myFunction()">Click	me</button>

				</td>
				<td><a th:href="'/delete/'+${blogVo.mno}">삭제</a></td>



			</tr>

			<tr>
				<td>
					<p id="d1"></p>
				</td>
				<td>
					<p id="d2"></p>
				</td>
				<td>
					<p id="d3"></p>
				</td>
				<td>
					<p id="d4"></p>
				</td>
				<td>
					<p id="d5"></p>
				</td>
			</tr>
		</tbody>



	</table>
	
	
	
		<table>
		<thead>
			<tr>
				<th>MNO</th>
				<th>NAME</th>
				<th>PW</th>
				<th>PHONE</th>
				<th>MESSAGE</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="blogVo : ${msg}">
				<td th:text="${blogVo.mno}">MNO</td>
				<td th:text="${blogVo.name}">NAME</td>
				<td th:text="${blogVo.pw}">PW</td>
				<td th:text="${blogVo.phone}">PHONE</td>
				<td th:text="${blogVo.message}">MESSAGE</td>
				<td>


					<button th:onclick="myFunction()">Click	me</button>

				</td>
				<td><a th:href="'/delete/'+${blogVo.mno}">삭제</a></td>



			</tr>

			<tr>
				<td>
					<p id="d1"></p>
				</td>
				<td>
					<p id="d2"></p>
				</td>
				<td>
					<p id="d3"></p>
				</td>
				<td>
					<p id="d4"></p>
				</td>
				<td>
					<p id="d5"></p>
				</td>
			</tr>
		</tbody>



	</table>



</body>
</html>

